[user]
  name = Amadeus Folego
  email = amadeusfolego@gmail.com
[alias]
  ins = log -p --max-count=1
  lg = log --oneline --decorate
[branch]
  autosetuprebase = always
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[push]
  default = current
[github]
  user = amadeusfolego
  token = ********************************
[core]
  excludesfile = ~/.gitignore
[branch "master"]
  remote = origin
  merge = master
