Xcursor.theme: oxy-white

Xft.dpi:        128
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

URxvt.depth: 32
URxvt.scrollBar: off
URxvt.font: xft:Anonymous Pro:pixelsize=20
URxvt.colorUL: #86a2be

URxvt.perl-ext: default,matcher,url-select,clipboard
URxvt.matcher.button: 1
URxvt.urlLauncher: uzbl-tabbed
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.keysym.M1-Return: perl:matcher
URxvt.keysym.M1-f: perl:url-select:select_next
URxvt.keysym.M1-c: perl:clipboard:copy
URxvt.keysym.M1-v: perl:clipboard:paste
URxvt.keysym.M1-S-v: perl:clipboard:paste_escaped
!URxvt.keysym.M1-S-a: perl:keyboard-select:activate

! Tsveta
URxvt.foreground:   #00FF00
URxvt.background: rgba:0000/0000/0000/cccc
! Cherniy
URxvt.color0:       #2e3436
URxvt.color8:       #555753
! Krasniy
URxvt.color1:       #cc0000
URxvt.color9:       #ef2929
! Zeleniy
URxvt.color2:       #4e9a06
URxvt.color10:      #bae234
! Jeltiy
URxvt.color3:       #c4a000
URxvt.color11:      #fce94f
! Siniy
URxvt.color4:       #3465a4
URxvt.color12:      #729fcf
! Fioletoviy
URxvt.color5:       #75507b
URxvt.color13:      #ad7fa8
! Goluboy
URxvt.color6:       #06989a
URxvt.color14:      #34e2e2
! Beliy
URxvt.color7:       #d3d7cf
URxvt.color15:      #eeeeec
