Xft.dpi:        128
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

URxvt.saveLines: 100000

URxvt.depth: 32
URxvt.scrollBar: off

URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     false
URxvt.scrollTtyKeypress:    true

URxvt.font: xft:Inconsolata:pixelsize=16
URxvt.colorUL: #86a2be
Rxvt*loginShell: True

URxvt.perl-ext: default,url-select,clipboard,keyboard-select
URxvt.url-select.button: 1
URxvt.url-select.underline: true
URxvt.url-select.launcher: firefox
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

URxvt.keysym.M1-Return: perl:matcher
URxvt.keysym.M1-f: perl:url-select:select_next
URxvt.keysym.M1-c: perl:clipboard:copy
URxvt.keysym.M1-v: perl:clipboard:paste
URxvt.keysym.M1-b: perl:clipboard:paste_escaped
URxvt.keysym.M1-a: perl:keyboard-select:activate
URxvt.keysym.M1-z: perl:keyboard-select:search

URxvt.foreground: white
URxvt.background: rgba:0000/0000/0000/cccc

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
