#entry {
border-radius: 5px;
margin: 0px 5px 0px 5px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
background-color: #5e81ac;
}
 
#text:selected {
color: #d8dee9;
}
 
#window {
background-color: #3b4252;
background-color: transparent;
border-radius: 15px;
font-family: 'Tex Gyre Heros Regular';
/* animation: fadeIn; */
/* animation-duration: 0.3s; */
}

#input {
color: #d8dee9;
caret-color: #d8dee9;
border: 2px solid #5e81ac;
background-color: #4c566a;
padding: 6px;
margin: 15px;
margin-bottom: 0px;
font-size: 20px;
border-radius: 5px;
}

#inner-box {
color: #d8dee9;
padding: 10px;
padding-top: 5px;
}

#outer-box {
margin: 15px;
border-radius: 15px;
background-color: rgba(53,59,73,1.0);
box-shadow: 0px 0px 5px 0  #0F0F0F;
}

#scroll {
margin-top: 10px;
margin-bottom: 10px;
}

#text {
font-size: 20px;
padding: 8px;
color: #d8dee9;
background-color: transparent;
} 

#img {
  background-color: transparent;
  padding: 5px;
}
